@media (min-width:320px)and(max-width:600px) {
    .foot, .nave, .container, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 8px;
    } 
    img{
        width: 180px;
    }
    footer  {
        display: flex;
        flex-direction: row;
    }
}  